html, body, #root, .App {
  width: 100%;
  height: 100%;
  background-color:white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .Redborder {
  border: 1px solid red;
} */

.Header {
  height: 15%;
  min-height: 100px;
  flex-grow: 1;
  color: black;
}

.Header h1 {
  text-align: center;
  font-size: 75px;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  opacity: .75;
}

.Brands-Container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
}

.Brands-Container::-webkit-scrollbar {
  display: none;
}

.Header-Brands-Container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.Brand {
  display: flex;
  flex-direction: column;
  height: 33%;
  width: 100%;
  min-height: 33%;
}

.Brand-Header {
  height: 25%;
  width: 100%;
  min-height: 25%;
}

.Brand-Header h1 {
  font-weight: bolder;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 24;
}

.Brand-Picture-Wheel {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.Brand-Picture-Wheel::-webkit-scrollbar {
  display: none;
}


img { 
  size: auto;
  width: 150px;
  height: 100%;
  border-radius: 15%;
  float: left;
  transition: transform .5s;
  margin: 0 5px;
}

img:hover {
  transform:scale(1.1);
}